@page "/Info/{id:int}"
@inject DatabaseContext DbContext




<h3>Info</h3>
@if (pokemon is not null)
{
    

  <div class="card">
        <div class="card-body bg-light">
            <h1>@pokemon?.Name</h1>
            <h3>@pokemon?.Type</h3>
            <h3>@pokemon?.Generation</h3>


            <p>
                HP:<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="@pokemon.HP" aria-valuemin="0" aria-valuemax="100" style=" height: 30px">
                    <div class="progress-bar bg-success" style="width: @(pokemon.HP*100/255)%">@pokemon?.HP</div>
                    
                </div>
            </p>
            style = text align {right: dsfdsgfdsgds}



            <p>
                Attack:<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="@pokemon.Attack" aria-valuemin="0" aria-valuemax="100" style=" height: 30px">
                    <div class="progress-bar bg-default" style="width: @(pokemon.Attack*100/255)%">@pokemon?.Attack</div>
                    
                </div>
            </p>



            <p>
                Defence:<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="@pokemon.Defence" aria-valuemin="0" aria-valuemax="100" style=" height: 30px">
                    <div class="progress-bar bg-danger" style="width: @(pokemon.Defence*100/255)%">@pokemon?.Defence</div>
                    
                </div>
            </p>


            <p>
                Speed:<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="@pokemon.Speed" aria-valuemin="0" aria-valuemax="100" style=" height: 30px"  >
                    <div class="progress-bar bg-warning" style="width: @(pokemon.Speed*100/255)%">@pokemon?.Speed</div>
                    
                </div>
            </p>
</div>
</div>
}

else
{
    <p>No pokemon foudn for that Id</p>
}



@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
    }
}



